<!DOCTYPE html>

<html lang="FR">
    <head>
        <title>My todolist</title>
        <meta charset="utf-8" />
        <meta name='viewport' content='width=device-width . initial-scale=1.0 . maximum-scale=1.0' />

        <!-- Style CSS -->
        <link rel="stylesheet" href="/css/style.css" />
    </head>
        <body>

                <!-- || BEGIN || Todo List Div-->

            <div id="container">
                <h1 id="title">My Day</h1>
                    <div class="content">
                        <form action="/ajouter/" method="post">
                            <p>
                                <label for="newtodo">To do</label><br><br>
                                <input type="text" name="newtodo" id="newtodo" autofocus />
                                <input type="submit" />
                            </p>
                        </form>
                        
                            <ul>
                            <% todolist.forEach(function(todo, index) { %>
                                <li><a href="/supprimer/<%= index %>">✘</a> <%= todo %></li>
                            <% }); %>
                            </ul>
                    </div>
            </div>

                    <!-- || END || Todo List Div-->


        <!-- Scripts -->
            <script src="/js/script.js"></script>
        </body>
</html>