<!DOCTYPE html>

<html lang="FR">
    <head>
        <title>Ma Todolist</title>
        <meta charset="utf-8" />
        <meta name='viewport' content='width=device-width . initial-scale=1.0 . maximum-scale=1.0' />

        <!-- Style CSS -->
        <link rel="stylesheet" href="/css/style.css" />
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Work+Sans:700&display=swap" rel="stylesheet"> 
    </head>
        <body>

                <!-- || BEGIN || Todo List Div-->

            <div id="container">
                <h1 id="title">Ma Journée</h1>
                <span id="date"></span>
            
                    <div class="content">
                        <form action="/ajouter/" method="post">
                            <p>
                                <input type="text" name="newtodo" id="newtodo" autofocus />
                                <input type="submit" value="Ajouter" class="input" />
                            </p>
                        </form>
                        
                            <ul>
                            <% todolist.forEach(function(todo, index) { %>
                                <li><a href="/supprimer/<%= index %>">✘</a> <%= todo %></li>
                            <% }); %>
                            </ul>
                    </div>
            </div>

                    <!-- || END || Todo List Div-->


        <!-- Scripts -->
            <script src="/js/script.js"></script>
        </body>
</html>